Source: kimmo-icon-theme
Maintainer: Joshua Peisach <ubuntucinnamonremix7@gmail.com>
Section: misc
Priority: important
Build-Depends: debhelper (>= 12)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/Ubuntu-Cinnamon-Remix/kimmo-icon-theme
Vcs-Git: https://github.com/Ubuntu-Cinnamon-Remix/kimmo-icon-theme.git
Homepage: https://github.com/Ubuntu-Cinnamon-Remix

Package: kimmo-icon-theme
Architecture: all
Depends: gnome-themes-extra, gtk2-engines-murrine, gtk2-engines-pixbuf, ${misc:Depends}
Provides: kimmo-icon-theme-dark, kimmo-icon-theme-light
Description: Mix of Arc/Numix colored Orange to fit your GNOME/Cinnamon desktop
 The Kimmo Icon Theme is a mixture of the Arc/Numix theme,
 colored orange, looking great on all desktops. The theme has an
 associated gtk theme as well: kimmo-gtk-theme

Package: kimmo-icon-theme-dark
Architecture: all
Depends: gnome-themes-extra, gtk2-engines-murrine, gtk2-engines-pixbuf, ${misc:Depends}
Description: Mix of Arc/Numix colored Orange to fit your GNOME/Cinnamon desktop
 The Kimmo Icon Theme is a mixture of the Arc/Numix theme,
 colored orange, looking great on all desktops. The edition contains
 the dark version of the icon theme. The package also has a GTK theme:
 kimmo-gtk-theme-dark.

Package: kimmo-icon-theme-light
Architecture: all
Depends: gnome-themes-extra, gtk2-engines-murrine, gtk2-engines-pixbuf, ${misc:Depends}
Description: Mix of Arc/Numix colored Orange to fit your GNOME/Cinnamon desktop
 The Kimmo Icon Theme is a mixture of the Arc/Numix theme,
 colored orange, looking great on all desktops. The edition contains
 a light version of the icon theme. The package also has a GTK theme:
 kimmo-gtk-theme-light.
